@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>New feed surfing with RSS</h1>
    <p class="lead">This's example project to learn how to using XML with RSS</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dantri</h2>
        <p>
            Tin nhanh VnExpress - Đọc báo, tin tức online 24h.
        </p>
        @Html.ActionLink("See more", "ListRSS", "Home", new { pageName = "dantri"}, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>VnExpress</h2>
        <p>Tin nhanh VnExpress - Đọc báo, tin tức online 24h.</p>
        @Html.ActionLink("See more", "ListRSS", "Home", new { pageName = "vnexpress" }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Empty....</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        @Html.ActionLink("See more", "ListFeed", "Home", new { @class = "btn btn-default" })
    </div>
</div>